body {
    background-color: aliceblue;
}

.box {
    border: 2px solid #4d1c1c;
    display: inline-block;
    font-size: 14px;
    font-family: Arial, Helvetica;
    position: absolute;
    left: 40%;
    border-radius: 6px;
    padding-left: 20px;
    padding-right:20px ;
    padding-bottom: 30px;
    background-color: beige;
}

.header {
    text-align: center;
    color: rgb(47, 47, 124);
}

table{
    align-items: center;
}


button {
    background-color: rgb(43, 144, 226);
    border-radius: 4px;
    color: white;
    border: 0px;
    width: 80px;
    height: 30px;
}