body {
    font-family: 'roboto';
    color: #000;
    background-color: rgb(43, 255, 0);
}
.judul {
    background: #e5f500;
    padding: 10px;
    text-align: center;
}
a{
    padding: 5px;
    text-decoration: none;
}
.table{
    border-collapse: collapse;
}
table.table th th , table.table tr td{
    padding: 10px 20px
}